/* 公共部分 */
body,h1,h2,h3,h4,p,ul,li,form,dl,dt,dd,input{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
    vertical-align: middle;
}



/* 自定义部分 */
.clearfix::after{
    content: "";
    display: block;
    height:0;  
    overflow: hidden;
    clear: both;
    visibility: hidden;
    /* 清除浮动 */
}
.greenIcon{
    background-color: #109d59;
    border-radius: 3px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.greyIcon{
    background-color: #999;
    text-align: center;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-left: 10px;
    color: #fff;
}
.boxShadow{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}